header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  z-index: 1;
  position: fixed;
  background-color: #9C27B0;
  height: 128px;
  box-sizing: border-box;
  display: block;
  top: -72px;
  width: 100%;
}

.header-wrapper {
  height: 56px;
  left: 56px;
  right: 56px;
  top: 0;
  z-index: 2;
  position: fixed;
}

h3 {
  color:white;
  text-align:center;
  -webkit-transition: color 2s; /* Safari */
  transition: color 2s;
  text-decoration: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

a>h3 {
  color:white;
  -webkit-transition: color 0.5s; /* Safari */
  transition: color 0.5s;
  text-decoration: none;
  background-color: transparent;
}

a>h3:hover {
    color: #90CAF9;
    text-decoration: none;
  background-color: transparent;
}

.header-title {
  font-size: 18px;
  line-height: 56px;
  width: 100%;
  font-weight: 400;
  color: #fff;
}

.section-title {
  float: left;
}

.title-separator {
  float: left;
  font-size: 18px;
  height: 64px;
  line-height: 64px;
  margin: 0 0.5em 0 0.5em;
  width: .5em;
}

span {
  font-size: 100%;
}

.card {
  padding: 10px 20px 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  border-radius: 2px;
}

.col-md-6 {
  padding-bottom: 15px;
}

body {
  padding-top: 80px;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  border-radius: 2px;
}
